<h3>Get Cool URL</h3>
<div>
  <form method="get" action="/cool_url">
    <label>Please enter your first name</label>
         <br />
      <input name="first_name" type="text"></input>
         <br />
         <br />
    <label>Please enter your favorite meal</label>
         <br />
      <textarea name="favorite_meal">
      </textarea>
         <br />
         <br />
    <label>Which cheese do you like best?</label>
         <br />
         <br />
      <input name="cheese" type="radio" value="Emmental">Emmental
         <br />
      <input name="cheese" type="radio" value="Cheddar">Cheddar
         <br />
      <input name="cheese" type="radio" value="Gouda">Gouda
         <br />
         <br />
    <label>What is your favorite color?</label>
         <br />
         <br />
      <input name="color" type="checkbox" value="Black">Black
         <br />
      <input name="color" type="checkbox" value="White">White
         <br />
      <input name="color" type="checkbox" value="Gray">Gray
         <br />
         <br />
    <label>Select a day of the week</label>
         <br />
         <br />
      <select name="day">
          <option>Monday</option>
          <option>Wednesday</option>
          <option>Friday</option>
      </select>
         <br />
         <br />

    <input type="submit" value="submit me"></input>
  </form>
</div>
