<h3>Get Form Names</h3>
<div>
  <form method="get" action="/form_names">
    <input type="text" name="post[title]" value="please enter a title">
    <input type="text" name="post[price]" value="please enter a price">
    <textarea name="post[description]">please enter a description</textarea>
    <input type="submit" value="submit me"></input>
  </form>
</div>
